.star-icon {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  display: block;
  height: 43px;
  padding: 8px 16px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  color: #ffffff;
  box-sizing: border-box;
  border-radius: 8px 8px 8px 0;
  text-transform: uppercase;
}