.stars-list {
  position: relative;
  display: flex;
  padding-right: 90px;
  padding-left: 90px;
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: #ffeead;
  background-position: left bottom;
  background-size: 449px 304px;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url("../../../assets/stars-list-bg.svg");
}

.stars-list::before {
  position: absolute;
  top: 36px;
  left: 0;
  width: 213px;
  height: 170px;
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../../assets/stars-list-before.svg");
}

.stars-list::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 111px;
  height: 158px;
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../../assets/stars-list-after.svg");
}

.stars-list__list {
  margin: 0;
  padding: 0;
  margin-top: 44px;
  margin-bottom: 44px;
  margin-left: -20px;
  font-size: 0;
  line-height: 0;
  text-align: center;
}

.stars-list__item {
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 18px;
  line-height: 27px;
  vertical-align: top;
  text-align: left;
  overflow: hidden;
}
