.about {
  display: flex;
  position: relative;
  padding-left: 90px;
  padding-top: 159px;
  padding-bottom: 159px;
  padding-right: 603px;
  background-color: #fff6d9;
  align-items: center;
  z-index: 1;
  box-sizing: border-box;
}

.about__wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  min-width: 650px;
  z-index: 3;
}

.about__text {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 20px;
  padding-right: 122px;
  margin-bottom: 40px;
}

.about__work-time {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: inline-block;
  min-height: 43px;
  min-width: 292px;
  margin-bottom: 20px;
  padding: 8px;
  border-radius: 8px;
  background-color: #ffeead;
  vertical-align: middle;
}

.about__address {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about__address::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  content: "";
  background: url("../../../assets/address-mark.svg");
}

.about::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 90px;
  display: block;
  content: "";
  width: 446px;
  height: 446px;
  margin: auto;
  background: url("../../../assets/about.svg") no-repeat;
}
